<div class="rectangles">
  <div class="container footer-contents py-sm-5 p-4">
    <div class="mb-2">
      <div class="text-body-secondary">
        ©Nintendo All Rights Reserved.<br>
        使用しているゲーム画像の著作権および商標権、その他知的財産権は、当該コンテンツの提供元に帰属します。
      </div>
    </div>
    <div class="d-flex">
      <%= link_to "https://www.nintendo.co.jp/zelda/totk/index.html", class: "link-with-icon", target: :_blank, rel: "noopener noreferrer" do %>
        <div>
          ゼルダの伝説ティアーズオブザキングダム公式サイト
          <i class="fa-solid fa-chevron-right"></i>
        </div>
      <% end %>
    </div>
  </div>
</div>
