<nav class="navbar navbar-expand-md rectangles">
  <div class="container py-1 px-4">
    <%= link_to root_path, class: "navbar-brand", id: "root-path" do %>
      <i class="fa-solid fa-house fa-xl"></i>
    <% end %>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLogoutUserContent" aria-controls="navbarLogoutUserContent" aria-hidden="false">
      <i class="fa-solid fa-bars"></i>
    </button>
    <div class="navbar-collapse collapse" id="navbarLogoutUserContent">
      <div class="ms-auto row d-flex justify-content-center">
        <div class="nav-item col-auto pe-sm-3 my-2 my-sm-none">
          <%= link_to new_user_session_path, class: "nav-link", id: "login-path" do %>
            <i class="fa-solid fa-right-to-bracket fa-2xl pt-3 d-flex justify-content-center"></i>
            <div class="d-flex justify-content-center pt-3">ログイン</div>
          <% end %>
        </div>
        <div class="nav-item col-auto pe-sm-3 my-2 my-sm-none">
          <%= link_to new_user_registration_path, class: "nav-link", id: "new-user-registration-path" do %>
            <i class="fa-solid fa-user-plus fa-2xl pt-3 d-flex justify-content-center"></i>
            <div class="d-flex justify-content-center pt-3">新規登録</div>
          <% end %>
        </div>
        <div class="nav-item col-auto pe-sm-3 my-2 my-sm-none">
          <%= link_to users_guest_sign_in_path, data: { turbo_method: :post}, class: "nav-link", id: "guest-login-path" do %>
            <i class="fa-solid fa-user-secret fa-2xl pt-3 d-flex justify-content-center"></i>
            <small class="d-flex justify-content-center pt-3">ゲストログイン</small>
          <% end %>
        </div>
      </ul>
    </div>
  </div>
</nav>
