<nav class="navbar navbar-expand-lg bg-displaydish">
  <div class="container py-1 px-4">
    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fa-solid fa-house fa-xl"></i>
    <% end %>
  </div>
</nav>
<div class="px-3 py-2 border-bottom mb-3">
  <div class="container d-flex flex-wrap justify-content-end">
    <div class="nav">
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-primary me-2" %>
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-secondary me-2" %>
        <%= button_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "btn btn-outline-info" %>
    </div>
  </div>
</div>
