<% if select_ingredients.present? %>
  <p>選んだ食材</p>
  <ul class="select-ingredients list-unstyled">
    <% select_ingredients.each do |ingredient| %>
      <%= ingredient.name %>
    <% end %>
  </ul>
<% end %>
