/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
  // Custom bootstrap variables must be set or imported *before* bootstrap.
  @import "bootstrap";

  :root {
    --bg-beige: rgba(245, 245, 220, 1);
    --bg-turquoise: rgba(64, 224, 208, 1);
    --bg-gray: rgba(169, 169, 169, 1);
    --bg-ivory: rgba(255, 255, 240, 1);
  }

  .background-container {
    background-image: image-url("Zelda_BackImage1.jpg");
    background-color: rgba(255, 255, 255, 0.2);
    background-blend-mode: lighten;
  }

  .form-signin {
    width: 100%;
    max-width: 420px;
    padding: 30px;
    margin: auto;
  }

  .form-edit {
    width: 100%;
    max-width: 500px;
    padding: 30px;
    margin: auto;
  }

  .fade-in {
    animation-name: fadeInAnime;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  @keyframes fadeInAnime{
    from {
      opacity: 0;
      transform: translateY(-100px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-out {
    animation-name: fadeOutAnime;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    opacity: 1;
  }

  @keyframes fadeOutAnime{
    from {
      opacity: 1;
      transform: translateY(0);
    }

    to {
      opacity: 0;
      transform: translateY(-100px);
      display: none;
    }
  }

  .field_with_errors {
    input {
      @extend .is-invalid;
    }
  }


  .display-dish-icon:before {
    font-family: "Font Awesome 5 Free";
    content: "\e4c6";
    padding-right: 0.5rem;
  }

  .ingredient-icon:before {
    font-family: "Font Awesome 5 Free";
    content: "\f787";
    padding-right: 0.5rem;
  }

  .cooking-effect-icon:before {
    font-family: "Font Awesome 5 Free";
    content: "\f005";
    font-weight: 900;
  }

  .bg-displaydish {
    background-color: var(--bg-beige);
  }

  .cooking-input-btn {
    font-size: large;
    letter-spacing: 1rem;
    padding: 0.5rem 4rem;
    background-color: var(--bg-beige);
    border: 1px solid var(--bg-gray);
  }

  .bg-ingredient {
    background-color: var(--bg-beige);
  }

  .bg-ingredient label {
    background-color: var(--bg-ivory);
  }

  .ingredient-check-label {
    position: relative;
    cursor: pointer;
    box-shadow: 0px 5px var(--bg-gray);
    border: 1px solid var(--bg-gray);
  }

  .ingredient-check-label:hover {
    margin-top: 2px;
    box-shadow: 0px 3px var(--bg-gray);
  }

  .btn-check:checked + .ingredient-check-label {
    background-color: var(--bg-turquoise);
    margin-top: 5px;
    box-shadow: none;
  }

  .btn-check:disabled + .ingredient-check-label {
    opacity: 0.5;
  } 

  .link-with-icon:hover i {
    padding-left: 0.5rem;
  }
