<p><%= @resource.email %> 様</p>

<p>パスワード変更用リンクを送信いたしました。以下のリンクから変更可能です。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>上記リンクから新しいパスワードを作成するまで、パスワードの変更はなされません。</p>
<p>もし心当たりがなければ、このメールは無視してください。</p>
