<p>こんにちは <%= @resource.email %>!</p>

<p>規定回数以上のログイン失敗により、あなたのアカウントはロックされています。</p>

<p>下記のリンクから、アカウントを解除してください:</p>

<p><%= link_to 'アカウントロックを解除する', unlock_url(@resource, unlock_token: @token) %></p>
